<!DOCTYPE html>
<html data-theme="<%= htmlWebpackPlugin.options.theme %>" data-popup="<%= htmlWebpackPlugin.options.theme %>">
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <title>PE Center</title>
  </head>
  <body>
    <div id="popup">
      <img src="/images/blur-<%= htmlWebpackPlugin.options.theme %>.png" style="height: 480px; width: 300px" />
    </div>
  </body>
</html>
