{
  "extends": ["@viclafouch/eslint-config-viclafouch"],
  "globals": {
    "chrome": true,
    "browser": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "jsx-a11y/no-autofocus": 0,
    "react/prop-types": 1,
    "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": true }]
  }
}
