{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "printWidth": 130,
        "semi": false,
        "singleQuote": true
      }
    ]
  },
  "globals": {
    "chrome": true
  }
}
