@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.col,.row{-webkit-box-direction:normal;display:-webkit-box;display:-ms-flexbox;display:flex}.row{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row}.col{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}.nowrap{-ms-flex-wrap:nowrap;flex-wrap:nowrap}.row-verti-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.col-verti-center,.row-hori-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.col-hori-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.row-hori-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.col-hori-between,.row-verti-between{-webkit-box-align:space-between;-ms-flex-align:space-between;align-items:space-between}.col-verti-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.row-hori-around{-ms-flex-pack:distribute;justify-content:space-around}.col-hori-around,.row-verti-around{-webkit-box-align:space-around;-ms-flex-align:space-around;align-items:space-around}.col-verti-around{-ms-flex-pack:distribute;justify-content:space-around}
a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,time,tt,u,var,video{margin:0;padding:0;border:0;font-size:100%}html{line-height:normal}ol,ul{list-style-type:none}blockquote,q{quotes:none}strong{font-weight:700;color:"Francois One",sans-serif}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}

/*=============================
=            Popup            =
=============================*/

body.TC_center_popup {
    margin: 0;
    padding: 15px 10px;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body.TC_center_popup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

body.TC_center_popup::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

body.TC_center_popup::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
}

body.TC_center_popup a.TC_center_website {
    position: absolute;
    top: 5px;
    color: #15c;
    font-size: 13px;
    text-decoration: none;
}

body.TC_center_popup a.TC_center_website#toWebsite {
    right: 10px;
}

body.TC_center_popup a.TC_center_website#toOptions {
    left: 10px;
}

body.TC_center_popup a.TC_center_website:hover {
    color: #43a7fd;
}

body.TC_center_popup p.error {
    text-align: center;
    color: red;
}

body.TC_center_popup p.loaderCards {
    text-align: left;
    font-size: 12px;
}

body.TC_center_popup p.loaderCards.hidden {
    display: none;
}

body.TC_center_popup h1.TC_center_title {
    color: #444;
    font-family: 'Francois One', sans-serif;
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.45em;
}

body.TC_center_popup input.TC_center_input_search {
    border: 0;
    -webkit-appearance: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    padding: 3px 0;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

body.TC_center_popup div.TC_center_column_result {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body.TC_center_popup div.TC_center_column_result>article.TC_center_article_result {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.TC_center_popup article.TC_center_article_result img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

body.TC_center_popup article.TC_center_article_result p {
    margin: 12px 0;
    font-size: 12px;
}

body.TC_center_popup article.TC_center_article_result:hover, body.TC_center_popup a.topic:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

body.TC_center_popup article.TC_center_article_result.hidden {
    display: none!important;
}

body.TC_center_popup article.TC_center_article_result.active {
    background-color: #43a7fd;
    color: #ffffff;
}

body.TC_center_popup div.TC_center_actions {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: center;
}

body.TC_center_popup button.TC_center_button {
    padding: 5px 10px;
    border-radius: 7px;
    color: #fff;
    margin: 5px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    font-family: "Francois One", sans-serif;
    -moz-transition: none 0.3s ease 0s;
    -o-transition: none 0.3s ease 0s;
    -webkit-transition: none 0.3s ease;
    -webkit-transition-delay: 0s;
    -webkit-transition: none 0.3s ease 0s;
    transition: none 0.3s ease 0s;
    -webkit-transition-property: -webkit-transform, opacity, border-bottom-width, background-color, border-color, text-shadow;
    -webkit-transition-property: opacity, border-bottom-width, background-color, border-color, text-shadow, -webkit-transform;
    transition-property: opacity, border-bottom-width, background-color, border-color, text-shadow, -webkit-transform;
    transition-property: transform, opacity, border-bottom-width, background-color, border-color, text-shadow;
    transition-property: transform, opacity, border-bottom-width, background-color, border-color, text-shadow, -webkit-transform;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: #ffffff;
    text-shadow: 0px -2px transparent;
    white-space: nowrap;
}

body.TC_center_popup button.TC_center_button.button-primary {
    background-color: #0275d8;
    border-color: #43a7fd;
    text-shadow: 0px -2px #43a7fd;
}

body.TC_center_popup button.TC_center_button:active,
body.TC_center_popup button.TC_center_button.active  {
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
    border-bottom-width: 1px;
}

body.TC_center_popup button.TC_center_button[disabled] {
    background-color: #ecf0f1!important;
    border-color: #bdc3c7!important;
    text-shadow: 0px -2px white;
    cursor: not-allowed;
}

body.TC_center_popup button.TC_center_button.success {
    background-color: #27ae60;
    border-color: #60db94;
}

body.TC_center_popup button.TC_center_button:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

body.TC_center_popup div.TC_center_column_topic {
    width: 100%;
    font-size: 13px;
}

body.TC_center_popup div.TC_center_column_topic span {
    font-weight: bold;
    font-size: 14.5px;
    padding-bottom: 8px;
    color: #444444;
    display: block;
}

body.TC_center_popup div.TC_center_column_topic a.topic {
    text-decoration: none;
    font-size: 12px;
    position: relative;
    padding: 10px 3px;
    display: block;
}

a.topic {
    color: #000;
    opacity: 1.0;
}

a.topic p.topic_title {
    font-weight: bold;
}

a.topic.visited p.topic_title {
    font-weight: normal;
}

a.topic.visited {
    opacity: 0.6;
    color: #444;
}


a.topic:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

a.topic span.displaying {
    display: block;
    position: absolute;
    bottom: 1px;
    z-index: 2;
    right: 5px;
    color: #202d42;
}

a.topic p.topic_title {
    font-size: 12.5px;
    margin: 0;
}

a.topic p.topic_author {
    color: #7f8c8d;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 6px;
}

a.topic p.topic_description {
    margin: 0;
    overflow: hidden;
    width: 250px;
}

/*=====  End of Popup  ======*/

/*===============================
=            Options            =
===============================*/

/*section.screens {
    height: auto!important;
    min-height: 100vh;
    padding: 20px;
}
*/
body.TC_center_options {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

body.TC_center_options main {
    min-height: calc(100vh - 120px);
    background-color: #f7f7f7;
}

body.TC_center_options main section {
    position: relative;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background: -webkit-linear-gradient(280deg, #ff3b49, #0275d8);
    background: -o-linear-gradient(280deg, #ff3b49, #0275d8);
    background: linear-gradient(10deg, #ff3b49, #0275d8);
}

body.TC_center_options nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 90px;
    width: 100%;
    background-color: rgba(255,255,255,.88);
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

body.TC_center_options nav a.plateformeLinks {
    font-family: "Francois One", sans-serif;
    padding: 10px;
    border: 2px solid transparent;
    color: #f0f0f0;
    transition: all .3s ease 0s;
    border-radius: 3px;
    text-decoration: none;
}

body.TC_center_options nav a.plateformeLinks:first-child {
    background-color: #4486f7;
    border-color: #4486f7;
}

body.TC_center_options nav a.plateformeLinks:last-child {
    background-color: #202d42;
    margin-left: 15px;
    border-color: #202d42;
}


body.TC_center_options nav a.plateformeLinks:first-child:focus,
body.TC_center_options nav a.plateformeLinks:first-child:hover{
    background-color: transparent;
    color: #4486f7;
}
body.TC_center_options nav a.plateformeLinks:nth-child(2):focus,
body.TC_center_options nav a.plateformeLinks:nth-child(2):hover {
    background-color: transparent;
    color: #202d42;
}

body.TC_center_options nav a.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

body.TC_center_options section > div.row {
    width: 100%;
}

body.TC_center_options div.container-options {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 24px;
    width: 40%;
    margin: 4%;
    min-width: 450px;
    max-width: 600px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

body.TC_center_options div.container-options.container-name {
    text-align: center;
}

body.TC_center_options div.container-options.container-name div.diveditable {
    text-align: center;
    padding: 3px 10px;
    width: 200px;
    margin: 15px 0;
    border: 0;
    position: relative;
    font-size: 15px;
    outline: none;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
}

 div.diveditable::after {
    content: 'Your display name here';
    visibility: visible;
    position: absolute;
    width: 100%;
    cursor: text;
    left: 50%;
    top: 50%;
    font-size: 13px;
    text-align: center;
    color: #7f8c8d;
    transform: translate(-50%, -50%);
 }

div.diveditable.active::after {
      visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body.TC_center_options div.container-limit input.choose_number {
    width: 200px;
    padding: 3px 10px;
    margin: 25px 25px 10px 25px;
    border: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    font-family: "Open Sans", sans-serif;
    outline: none;
    text-align: center;
    font-size: 15px;
}

body.TC_center_options div.container-form {
    flex-grow: 1;
}

body.TC_center_options div.form-field {
    margin: 10px 0;
}

body.TC_center_options div.TC_center_switch {
    margin-top: 2px;
    display: inline-block;
    position: relative;
    --switch-width: 45px;
    --switch-height: 14px;
    height: var(--switch-height);
    width: var(--switch-width);
    margin-left: 15px;
}

body.TC_center_options div.TC_center_switch input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

body.TC_center_options div.TC_center_switch input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

body.TC_center_options div.TC_center_switch label {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 4rem;
    outline: none;
    position: absolute;
    cursor: pointer;
    left: 0; top: 0; right: 0; bottom: 0;
}

body.TC_center_options div.TC_center_switch label:after {
    width: calc(var(--switch-height) + 5px);
    height: calc(var(--switch-height) + 5px);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% - calc(var(--switch-height) + 5px));
    background: #fff;
    box-shadow: 0 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

body.TC_center_options div.TC_center_switch input[type=checkbox]:checked + label:after {
    right: 0;
    background-color: #4abc90;
    box-shadow: none;
}
body.TC_center_options form.formfeed div.form-field > select,
body.TC_center_options form.formfeed div.form-field > input:not([type="submit"])  {
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-width: 100px;
}

body.TC_center_options h1 {
    color: #fff;
    font-size: 1.8em;
    margin: 0;
    text-transform: uppercase;
}

body.TC_center_options div.container-options h2 {
    font-size: 1.65em;
    color: #444;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px dotted rgba(0,0,0, 0.10);
    font-family: "Francois One", sans-serif;
}

body.TC_center_options div.container-options > ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    align-items: flex-start;
    align-content: flex-start;
    list-style-type: none;
}

body.TC_center_options div.container-options > ul > li {
    margin: 25px 25px;
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.TC_center_options div.container-options > ul > li > span {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

body.TC_center_options div.container-options > ul > li > img {
    cursor: pointer;
}

body.TC_center_options div.container-options > ul.list-language > li > span,
body.TC_center_options div.container-options > ul.list-product > li > img {
    opacity: 0.45;
}

body.TC_center_options div.container-options > ul > li > span:focus,
body.TC_center_options div.container-options > ul.list-product > li > img:focus {
    outline: none;
}

body.TC_center_options div.container-options > ul.list-product > li > img:hover,
body.TC_center_options div.container-options > ul.list-language > li > span:hover {
    opacity: 1;
}

body.TC_center_options div.container-options > ul.list-product > li > img.active,
body.TC_center_options div.container-options > ul.list-language > li > span.active {
    opacity: 1;
}

body.TC_center_options div.container-options p.message {
    color: #444;
    font-size: 13px;
    text-align: center;
}

body.TC_center_options div.container-options p.message.active {
    color: #27ae60;
}


body.TC_center_options div.container-options p.message i {
    font-weight: bold;
}


body.TC_center_options p.shortcuts {
    padding: 15px 0;
    padding-bottom: 3px;
    color: #f0F0F0;
    margin-top: 15px;
    border-top: 1px dotted rgba(255,255,255,0.30)
}

body.TC_center_options ul.shortcuts-list {
    list-style: disc;
}

body.TC_center_options p.copyright {
    text-align: center;
    margin: 30px 0 0;
    color: #fff!important;
    font-family: "Open Sans", sans-serif;
}

body.TC_center_options > p.copyright > a:hover {
   opacity: 0.85;
}

body.TC_center_options a.star {
    display: inline-block;
    color: #444;
    font-size: 30px;
    text-decoration: none;
}

body.TC_center_options a.star:hover {
    color: #f1c40f;
}

/*=====  End of Options  ======*/