html[data-theme='dark'] {
  --primary-text-color: #f0f0f0;
  --primary-background-color: #202124;
}

html[data-theme='light'] {
  --primary-text-color: #111111;
  --primary-background-color: #fafafa;
}
