@import 'reset';
@import 'theme';

html {
  font-size: 13px;
}

body {
  width: 300px;
  &,
  #popup {
    background-color: var(--primary-background-color);
    color: var(--primary-background-color);
  }

  #popup {
    height: 480px;
    display: flex;
    flex-direction: column;

    main {
      flex: 1;
      overflow: hidden;

      .main-content {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
}

input,
select,
textarea {
  border-width: 1px;
  border-style: solid;
  border: var(--input-border);
  background-color: var(--input-background);
  color: var(--input-text);
}

$md-list: 12 18 24 36 48;

@each $md in $md-list {
  &.md-#{$md} {
    font-size: #{$md}px;
  }
}
.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.md-light {
  color: rgba(255, 255, 255, 1);
}

.from-top-enter {
  transform: translateY(-100%);
}
.from-top-enter-active {
  transform: translateY(0);
  transition: transform 0.3s;
}
.from-top-exit {
  transform: translateY(0);
}
.from-top-exit-active {
  transform: translateY(-100%);
  transition: transform 0.3s;
}
