@import 'reset';
@import 'theme';

html {
  font-size: 13px;
}

body {
  overflow: hidden;
  width: 300px;
  &,
  #npm install sass-loader sass {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
  }

  #popup {
    overflow: hidden;
    height: 480px;
    display: flex;
    flex-direction: column;

    main {
      flex: 1;
      overflow: hidden;
    }
  }
}

input,
select,
textarea {
  border-width: 1px;
  border-style: solid;
  border: var(--input-border);
  background-color: var(--input-background);
  color: var(--input-text);
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
  }
  /* hover effect for both scrollbar area, and scrollbar 'thumb' */
  &::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }

  /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
  &::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: transparent;
    border-radius: 100px;
  }

  &:hover::-webkit-scrollbar-thumb:vertical {
    background: var(--scrollbar-color);
  }

  &::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
    border-radius: 100px;
  }
}
